dataset
checkpoints_*
*_ckpt_*
*.log
dataset/*
weights/*
wandb*
*.sh
*.ipynb
*.pyc
__pycache__/
!wandb_logger.py
!evaluation.ipynb
*.pth
*.pt
*.npy
*.vscode
*.zip
deploy/weight/*
deploy/mm_rag/data/*
deploy/sample/*
deploy/mm_rag/clip_db/*